{% extends 'home/layout.html' %}
{% block content %}
<h2 class="text-center">Ejemplo de como realizar un CRUD en Python y Django en Bootstrap</h2>
<p>En el menú superior podremos ver las diferentes opciones que existen para la manipulación de datos mediante formularios tipos.</p>
<p>El ejemplo a desarrollar constará de:</p>
<ul>
    <li>Crear un usuario <span>(Create)</span></li>
    <li>Leer o ver el usuario creado (Read)</li>
    <li>Actualizar o modificar datos del usuario creado (Update)</li>
    <li>Eliminar el o los usuarios creados y todos sus datos (Delete)</li>
</ul>
<p>El mini proyecto estará soportado en una Base de Datos SQLite3</p>
{% endblock %}